on: pull_request
name: TOC Generator
jobs:
  generateTOC:
    runs-on: ubuntu-latest
    steps:
    - uses: technote-space/toc-generator@v2.4.0
      with:
        GITHUB_TOKEN: ${{ github.token }}
        TOC_TITLE: "**Inhaltsverzeichnis**"
        # Git commit name.
        COMMIT_NAME: "TOCGEN"
        TARGET_PATHS: .
